<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}{% block sub_title %}{% endblock %}Genscape{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    </head>

    <body class="no_select {% block body_class %}{% endblock %}">
        <header>

        </header>
        
        <div>

        </div>
        
        <footer>

        </footer>
    </body>
</html>
